/* Empty file for template. Remember to edit only this file and not the HTML file */
body {
    font-size: 11px;
    color: white;
    background-color: black;
}

.page-wrapper {
    background-color: #2F85B6;
    width: 700px;
    position: absolute;
    left: 55%;
    margin:10px 0 20px -385px;
}

.intro {
	background-image: url(images/ocean.jfif);
	background-repeat: no-repeat;
}

.sidebar {
    position: absolute;
    background-color: #2F85B6;
}

footer {
    background-image: url(images/page-bot.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    clear: both;
}

/* Intro */
.preamble {
    background: url(images/fish-2.png);
}

.preamble > p {
    padding-left: 372px;
}

/* Main Supporting */
.explanation {
    background: url(images/fish-1.png) no-repeat;
}

.explanation > p {
    padding-right: 372px;
}